@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
::-webkit-scrollbar {
  display: none; }

body,
html {
  margin: 0;
  padding: 0;
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box; }

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  outline: none; }

#bubles {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1; }

.wrap_change {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 20px 0 0 0;
  background: #2b2b2b;
  width: 110px;
  height: 50px;
  z-index: 2;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box; }
  .wrap_change .change_bg {
    background-image: url("/img/repeat.svg");
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 8px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .wrap_change .change_bg:hover {
      opacity: 0.7; }
    .wrap_change .change_bg.disabled {
      pointer-events: none;
      transition: all 0.1s linear;
      opacity: 0.5; }
    .wrap_change .change_bg.rotate {
      animation: spin 4s linear infinite;
      transition: all 0.4s linear; }

.image {
  pointer-events: none;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%; }

.bg {
  transition: all 1s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.blur_down {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: brightness(0.5); }

section {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  section .volume {
    background-image: url("/img/mute.svg");
    background-size: contain;
    width: 30px;
    height: 30px;
    z-index: 3;
    top: 0;
    right: 0;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    margin: 8px;
    cursor: pointer; }
    section .volume.active {
      background-image: url("/img/volume.svg"); }
    section .volume:hover {
      opacity: 0.7; }

.search {
  z-index: 2;
  left: 0;
  top: 0; }
  .search .search_input {
    position: relative; }
  .search .ico_search {
    position: absolute;
    width: 30px;
    fill: #818181;
    top: 5px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    left: 10px;
    cursor: pointer; }
    .search .ico_search:hover {
      opacity: 0.7; }
  .search .ico_clear {
    position: absolute;
    right: 10px;
    width: 30px;
    fill: #818181;
    top: 5px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
    visibility: hidden; }
    .search .ico_clear.active {
      opacity: 1;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      visibility: visible; }
    .search .ico_clear:hover {
      opacity: 0.7; }
  .search .q {
    padding: 0 50px;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    background: #2b2b2b;
    border-radius: 4px;
    color: #818181;
    box-shadow: inset 0 0 2px #4c4c4c, 0 0 1px #4c4c4c;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

/*# sourceMappingURL=main.css.map */
