@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
::-webkit-scrollbar {
  display: none; }

html, body{
  margin: 0;
  padding: 0;
  background-image: url('../img/bg.jpg');
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-origin: content-box;
}

* {
  outline: none; }
