<!DOCTYPE html>
<html lang="en" ng-app="Artmoney">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lite</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/angular_material.css">
  <link rel="stylesheet" href="css/swiper.css">
  <script src="js/jq.js"></script>
  <script src="js/angular.js"></script>
</head>

<body ng-controller="Global as ctrl" ng-cloak>
  <div class="swiper-container" ng-cloak>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="https://picsum.photos/1920" alt=""></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
  <h1 class="cloak">{{date | date:' HH:mm:ss'}}{{date | date:'  yyyy-MM-dd'}}</h1>
  <div class="weather">
    <span> {{city }}</span>
    <span> {{ temp}}</span>
    <span>{{ weather.weather[0].description}}</span>
    
    <div class="icon" style="background-image:url(img/weather/{{weather.weather[0].icon}}@2x.png)"></div>
  </div>
  <div class="toDoList">
    <ol>
      <li ng-repeat="x in tasks track by $index">{{x}}
        <div class="del" ng-click="data.removeItem($index)">x</div>
      </li>
    </ol>
    <md-input-container>
      <label>New task</label>
      <input ng-model="task" type="text">
    </md-input-container>
    <md-button class="md-raised" ng-disabled="!task" ng-click="data.pushNew()">Button</md-button>
  </div>
  <script src="js/swiper.js"></script>
  <script src="js/material.js"></script>
  <script src="js/animate.js"></script>
  <script src="js/angular-aria.js"></script>
  <script src="js/angular-messages.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
